doctype html
html
  head
  body
    h2 AJAX users App
    a(href='users/searchresult') Show all users
    each person in people
     ul
      li firstName: #{person.firstname}
      li lastName: #{person.lastname}
      li email: #{person.email}