doctype html
html
	head
		script(src='https://code.jquery.com/jquery-2.2.0.min.js')
		script(type='text/javascript' src="../autocomplete.js")

	body
		a(href='/') Home
		form(name= "searchUser" action='/users/searchresult' method='get')
			label Search user
			input(type="text" name='choices' list="choices" id="autocomplete" placeholder="Firstname" autocomplete="off")
			datalist(id="choices")
				option(value="potato") potato
			input(type='submit' value='search user')
		p#searchResults
		

