html
 head
 a(href='/') Home
 link(rel='stylesheet', href='/css.css', type='text/css' )
form(method="POST", action="/search")
 p Name
  input(type="text", name="name")
 p Email
  input(type="email", name="email")
 p
  input(type="submit")